.sectionTitle {
    color: #000;
    font-size: 48px;
    text-align: center;
}

.cityDetailsMain {
    text-align: center;
    margin-top: 0;
    margin-bottom: 1rem;
}

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
}

.image {
    width: 30rem;
    height: 30rem;
}

.navGallery {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.galBut {
    border: 2px solid #e7680b;
    border-radius: 8rem;
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    background-color: white;
    font-size: 1rem;
    font-weight: bold;
    color: #e7680b;
}

.galBut:hover {
    background-color: #ff5722;
    color: whitesmoke;
}


@media screen and (max-width: 320px) {
    .sectionTitle {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 375px) and (max-height: 667px) {
    .cityDetailsMain {
        color: #000;
        text-align: center;
        font-size: 0.8rem;
        text-indent: 0;
    }
}

@media (max-width: 540px) {
    .navGallery {
        gap: 0.5rem;
    }

    .image {
        width: 27rem;
        height: 27rem;
    }

    .galBut {
        border-radius: 4rem;
        width: 2.4rem;
        height: 2.4rem;
        font-size: 0.5rem;
    }

}

@media (max-width: 450px) {
    .navGallery {
        gap: 0.5rem;
    }

    .image {
        width: 17rem;
        height: 17rem;
    }

    .galBut {
        border-radius: 4rem;
        width: 2.4rem;
        height: 2.4rem;
        font-size: 0.5rem;
    }
}

@media (max-width: 360px) {
    .navGallery {
        gap: 0.4rem;
    }

    .image {
        width: 16rem;
        height: 16rem;
    }

    .galBut {
        border-radius: 4rem;
        width: 2.2rem;
        height: 2.2rem;
        font-size: 0.4rem;
    }
}

@media (max-width: 280px) {
    .navGallery {
        gap: 0.2rem;
    }

    .image {
        width: 13rem;
        height: 13rem;
    }

    .galBut {
        border-radius: 4rem;
        width: 2rem;
        height: 2rem;
        font-size: 0.3rem;
    }
}